@model IEnumerable<TestTask.Models.StudyGroupWorkers>

@{
    ViewData["Title"] = "Edit";
}



<h2>
    Преподаватель @ViewBag.teacher
</h2>
<br />
<form asp-action="Edit">
    <div class="form-group">
        <label class="control-label">Название группы: </label>
        <input name="study_group_name" class="form-control" value="@ViewBag.study_group"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
<br />
@Html.ActionLink("Добавить студента в группу", "addWorker", "StudyGroup", new {id=ViewBag.id_study_group})
<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th>
                Организация
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.worker_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organization_name)
            </td>
            <td>
                    @Html.ActionLink("Удалить из группы", "Delete", "StudyGroup", new {id=item.id, id_study_group = ViewBag.id_study_group})
            </td>
        </tr>
}
    </tbody>
</table>
